body {
	font-family: sans-serif;
	background: #ccc; 
}

#search {
	text-align: center;
	width: 30%;
	left: 35%;
	margin: 71px 35% 0px 35%;
}

#content {
	margin-top: 50px;
}

.issue {
	float: left;
	clear: both;
	width: 80%;
	margin: 5pt 10% 5pt 10%;
	background: #eee;
	border-radius: 5px;
	padding: 0px 2% 0px 2%;
}
.info_type{
	text-align: right;
	color:  #333;
	float: left;
	width: 18%;
	margin-right: 2%;
	max-width: 120pt;
}
.info_value{
	float: left;
	width: 80%;
}
.issue_info {
	float: left;
	clear: left;
	width: 70%;
}
.repo_info {
	float: right;
	clear:;
	width: 30%;
	/*margin-left: 10%;*/
}
