body {
	font-family: sans-serif;
	background: #eee; 
}

#search {
	text-align: center;
	width: 30%;
	left: 35%;
	margin: 71px 35% 0px 35%;
}

#content {
	margin-top: 50px;
}

.issue {
	float: left;
	clear: both;
	width: 80%;
	margin: 0pt 10% 5pt 10%;
}
.issue_info {
	float: left;
	clear: left;
	width: 50%;
	margin-left: 10%;
}
.repo_info {
	float: right;
	clear:;
	width: 30%;
	/*margin-left: 10%;*/
}
