<!doctype html>
<html>
<head>
	<title>Dummy coder | intro</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<script src="http://yandex.st/jquery/2.0.3/jquery.min.js"></script>
</head>	
<body>
	<h1>Dummy coder</h1>
	<h2>Code. Learn. Contribute</h2>
	<h3>and have fun! jnfkdjfn</h3>

<div id="search">
	<form action="{{ url_for('hello') }}" method=post>
		<input type=text size=30 name=query class="form-control" placeholder="Query">
		<select class="form-control" name=language>
		  <option>C</option>
		  <option>C++</option>
		  <option>Python</option>
		  <option>JavaScript</option>
		  <option>Haskell</option>
		</select>
		<button type="submit" class="btn btn-lg btn-primary btn-block" value=ShareMe>Search</button>
	</form>
</div>
</body>
</html>