<!doctype html>
<html>
<head>
	<title>Dummy coder</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="http://yandex.st/jquery/2.0.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
</head>	
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ url_for('hello') }}">Dummy coder</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="{{url_for('about')}}">About</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if logged_in == "yes" %}
			<li><a href="{{url_for('user')}}">{{ user }}</a></li>
			<li><a href="{{url_for('logout')}}">Sign out</a></li>
			{% else %}
			<li><a href="{{url_for('login')}}">Sign in</a></li>
			{% endif %}
		</ul>
	</div>
</nav>


<div id="content">
	{% if q %}
	My query was: {{ q }}
	{% endif %}
	{% for issue in issues %}
	<div class="issue">
		<div class="issue_info">
			<div class="info_type"><span class="issue_name">&nbsp;</span>Issue:</div>
			<div class="info_value"><span class="issue_name"><a href="{{issue.html_url}}">{{ issue.title }}</a></span></div>
		</div>
		<div class="repo_info">
			<div class="info_value">
				<a href="http://github.com/{{issue.repo_user}}/{{issue.repo_name}}">{{issue.repo_user}}/{{issue.repo_name}}</a><span class="issue_name">&nbsp;</span>
			</div>	
		</div>
		<!-- <h3><a href="{{issue.html_url}}">{{ issue.title }}</a></h3> -->
		<div class="issue_info">
			<div class="info_type">Description:</div><div class="info_value">{{ issue.body }}</div>
			<div class="info_type">Created at:</div><div class="info_value">{{ issue.created_at }}</div>
		</div>
		<div class="repo_info">
			<div class="repo_desc">{{ issue.description }}</div>
			<div class="homepage"><a href="{{ issue.homepage }}">{{ issue.homepage }}</a></div>
			&nbsp;
		</div>
	</div>
	{% endfor %}
</div>
</body>
</html>