<!doctype html>
<html>
<head>
	<title>Dummy coder | intro</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="http://yandex.st/jquery/2.0.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
</head>	
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ url_for('hello') }}">Dummy coder</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="{{url_for('about')}}">About</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if logged_in == "yes" %}
			<li><a href="{{url_for('user')}}">{{ user }}</a></li>
			<li><a href="{{url_for('logout')}}">Sign out</a></li>
			{% else %}
			<li><a href="{{url_for('login')}}">Sign in</a></li>
			{% endif %}
		</ul>
	</div>
</nav>
<div id="content">
<div id="search">
{% if User.login %}
<div class="info_type">&nbsp;</div>
<div class="info_value"><img class="avatar" src="{{ User.avatar_url }}"/></div>
{% endif %}
{% if User.login %}
<div class="info_type">Username:</div>
<div class="info_value">{{User.login}}</div>
{% endif %}
{% if User.name %}
<div class="info_type">Name:</div>
<div class="info_value">{{User.name}}</div>
{% endif %}
{% if User.followers %}
<div class="info_type">Company:</div>
<div class="info_value">{{User.company}}</div>
{% endif %}
{% if User.followers %}
<div class="info_type">Followers:</div>
<div class="info_value">{{User.followers}}</div>
{% endif %}
</div>
</div>
</body>
</html>